.page-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.page-banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease;
    pointer-events: none;
}

.page-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

main {
    position: relative;
    z-index: 2;
}

.banner-spacer {
    height: 100vh;
    width: 100%;
}

.hero {
    margin-bottom: 3rem;
    position: relative;
    z-index: 2;
}

.hero h2 {
    color: var(--accent);
    margin-bottom: 1rem;
}

.content {
    position: relative;
    z-index: 2;
}

.content h3 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.hero-content {
    display: flex;
    align-items: center;      /* aligne verticalement */
    gap: 30px;                /* espace entre texte et image */
}

.hero-content p {
    flex: 1;                  /* le texte prend la place restante */
}

.hero-image {
    max-width: 200px;
    height: auto;
    border-radius: 85px;
}

@media (max-width: 700px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }
}